In [1]:
from tweepy import Stream

In [2]:
from tweepy import OAuthHandler

In [3]:
from tweepy.streaming import StreamListener

In [4]:
import json

In [2]:
import pandas as pd
import re
import tweepy

In [6]:
import os
import time

In [7]:
consumer_key='FGLuYVs1pSCoRrTYDRubcJTRX'
consumer_secret='rnoqtyH7xVxH5INv2DIO5Zycg61lpjfJCnBccQqUPdavaMVA3r'
access_token='719031410787352576-QEIc0PEYQaSZPnOe0he9iFdiLdZ0RxI'
access_token_secret='a0J9whK3ApgSldIT1RpmriKduM0S9Uq6D9Omp2CHc04Gq'

In [8]:
#Here we actually start our work by giving tweepy our API keys to handle data extraction
auth =OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api=tweepy.API(auth)

In [9]:
Tweets=tweepy.Cursor(api.search,q='#NEP',count=50,lang='en',since='2020-07-29',tweet_mode='extended').items()

In [10]:
type(Tweets)

tweepy.cursor.ItemIterator

In [11]:
Tweets_List=[tweets for tweets in Tweets]

In [12]:
all_tweets = pd.DataFrame(columns = ['username', 'acctdesc', 'location', 'following',
                                        'followers', 'totaltweets', 'usercreatedts', 'tweetcreatedts',
                                        'retweetcount','likes','text', 'hashtags'])

In [13]:
for tweets in Tweets_List:
    username=tweets.user.screen_name
    acctdesc = tweets.user.description
    location = tweets.user.location
    following = tweets.user.friends_count
    followers = tweets.user.followers_count
    totaltweets = tweets.user.statuses_count
    usercreatedts = tweets.user.created_at
    tweetcreatedts = tweets.created_at
    retweetcount = tweets.retweet_count
    likes=tweets.favorite_count
    hashtags = tweets.entities['hashtags']
    
    #Here we dont know if the tweet is retweeted or not so for that,
    try:
        text=tweets.retweeted_status.full_text
    except:
        text=tweets.full_text
    #creating a list of all variables
    details=[username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetcreatedts,retweetcount,likes,text,hashtags]
    all_tweets.loc[len(all_tweets)]=details

In [14]:
type(all_tweets)

pandas.core.frame.DataFrame

In [1]:
all_tweets.head()

NameError: name 'all_tweets' is not defined

In [15]:
all_tweets.to_csv('Tweets.csv')

In [5]:
tweets=pd.read_csv('Tweets.csv')

In [8]:
tweets.drop('Unnamed: 0',axis=1,inplace=True)

In [11]:
tweets.head(6)

,username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetcreatedts,retweetcount,likes,text,hashtags
0,abhijithvr8,"#MechanicalEngineer , organic farming, fan of ...",GodsOwnCountry,40,17,2101,2014-10-17 08:14:15,2020-08-23 07:30:09,1,0,Called upon the educational institutions to st...,"[{'text': 'NEP', 'indices': [76, 80]}]"
1,VMBJP,Minister of State for External Affairs & Parli...,"Thiruvananthapuram, Keralam",465,63974,6776,2009-09-29 13:47:24,2020-08-23 07:27:14,1,2,Called upon the educational institutions to st...,"[{'text': 'NEP', 'indices': [65, 69]}, {'text'..."
2,Sunilpr87505336,NaN,NaN,163,5,34,2018-10-28 10:41:42,2020-08-23 07:23:21,20,0,While #NEP is aiming to bring phenomenal chang...,"[{'text': 'NEP', 'indices': [24, 28]}]"
3,Sushreesuchar13,NaN,NaN,5,11,2396,2020-06-26 18:01:20,2020-08-23 07:21:51,2,0,@DrRPNishank @narendramodi @AmitShah @PMOIndia...,[]
4,SamPrak56246760,cinematographer,NaN,38,7,28,2020-07-08 09:41:24,2020-08-23 07:09:32,281,0,Join me as I take you on the journey of transf...,[]
5,varnaVS1,NaN,NaN,3,1,1140,2020-06-24 02:34:39,2020-08-23 07:08:53,2,0,@DrRPNishank @narendramodi @AmitShah @PMOIndia...,[]